<div class="container">
  <div class="row">
    <div class="col-md-12 py-4 text-center">
      <h1>List of Users</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 py-4">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userList">
          <th scope="row">{{user.id}}</th>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>
            <button type="button"
                    class="btn btn-primary"
                    (click)="openModal(editProfileModal, user)">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">First Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="firstName" id="firstname">
        </div>
      </div>

      <div class="form-group row">
        <label for="lastname" class="col-sm-4 col-form-label">Last Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="lastName" id="lastname">
        </div>
      </div>

      <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="username" id="username">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" formControlName="email" id="email">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>

</ng-template>
